.Card {
  margin: 0 auto;
  border: 1px solid black;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.date, 
.amount {
  border: 1px solid black;
  width: 20%;
}

.comment {
  border: 1px solid black;
  width: 60%;
}